.calculatorBody{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  background-color: slategrey;
  border: 10px double black;
}

#calculatorName{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 3vh;
  border: 1px double black;
  color: rgb(40, 34, 34);
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}

#calculatorDisplay{
  display: flex;
  justify-content: flex-end;
  font-size: 27px;
  font-weight: 500;
  width: 25vh;
  height: 2vh;
  background-color: cadetblue;
  border: black 4px inset;
}

#row1{
  display: flex;
  flex-direction: row;
}

#row2{
  display: flex;
  flex-direction: row;
}

#row3{
  display: flex;
  flex-direction: row;
}

#row4{
  display: flex;
  flex-direction: row;
}

#clear{
  justify-content: right;
  font-weight: 900;
  font-size: 4vh;
  width: 10vh;
}

#equalsOperator{
  justify-content: space-around;
  align-items:baseline;
  font-weight: 900;
  font-size: 4vh;
  width: 15.4vh;
  background-color: darkblue;
  color: whitesmoke;
}

.buttons{
  display: flex;
  margin: .1vh;
  height: 5vh;
  width: 5vh;
}

.rows{
  display: flex;
  flex-direction: column;
}

.numButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 3vh;
  background-color: dimgrey;
}

.operatorButton{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  font-weight: 900;
  font-size: 4vh;
  background-color: orange;
}