#calculatorDisplay{
  display: flex;
  border: black 1px solid;
  justify-content: flex-end;
  width: 20vh;
  height: 1.5vh;
}

#row1{
  display: flex;
  flex-direction: row;
}

#row2{
  display: flex;
  flex-direction: row;
}

#row3{
  display: flex;
  flex-direction: row;
}

#row4{
  display: flex;
  flex-direction: row;
}

#clear{
  justify-content: right;
  font-weight: 900;
  font-size: 60px;
  width: 10vh;
}

#equalsOperator{
  justify-content: space-around;
  align-items:baseline;
  font-weight: 900;
  font-size: 60px;
  background-color: darkblue;
  color: whitesmoke;
  width: 15.4vh;
}



.buttons{
  display: flex;
  margin: .1vh;
  height: 5vh;
  width: 5vh;
}

.rows{
  display: flex;
  flex-direction: column;
}

.numButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
  background-color: dimgrey;
}

.operatorButton{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  font-weight: 900;
  font-size: 60px;
  background-color: orange;
}
